@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;700&display=swap');
:root{
    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-black: #000000;
    --color-purple: #b040ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}
.img_logo_header{
    width: 35px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    background-color: var(--color-dark5);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 50px;
    z-index: 2;
}
.content{
    text-align: center;
    transition: 0.3s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: 500;
}
.navigation_header a:hover{
    color: var(--color-purple);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
.button{
    background-color: var(--color-dark3);
    border: var(--color-black);
    box-shadow: 4px 4px 0 var(--color-dark4);
    color: var(--color-dark4);
    font-size: 20px;
    padding: 4px 8px;
    max-width: 224px;
    text-transform: capitalize;
}
.menu_cadastro{
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
    .menu_cadastro{
        flex-direction: column;
        gap: 30px;
    }
    .image_top{
        width: 100%;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

.image_top{
    background: url('../img/pexels.jpg') no-repeat center center;
    background-size: cover;
    height: 60vh;
}
