@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --color-white: #f7f7f7;

    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-black: #000000;
    --color-purple: #b040ff;

    --color-deepNavyBlue: #001f3f;
    --color-deepNavyBlueCl: #012c57;
    --color-darkGrey: #36454F;
    --color-mossGreen: #607D5B;
    --color-mustardYellow: #FFC857;
    --color-burntOrange: #FF6B35;
    --color-blue: #007bff;

    --color-error: #ff0000;
    --color-grey: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--color-darkGrey);
    color: var(--color-white);
}

.img_logo_header {
    width: 35px;
}

.header,
.navigation_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    background-color: var(--color-deepNavyBlue);
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}

.navigation_header {
    gap: 50px;
    z-index: 2;
}

.content {
    text-align: center;
    transition: 0.3s;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-burntOrange);
    transition: 1s;
    font-weight: 500;
}

.navigation_header a:hover {
    color: var(--color-mustardYellow);
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.button {
    background-color: var(--color-burntOrange);
    border: var(--color-black);
    box-shadow: 4px 4px 0 var(--color-mossGreen);
    font-size: 20px;
    padding: 4px 8px;
    max-width: 224px;
    text-transform: capitalize;
}

.cadastrarDivButton a {
    color: var(--color-dark3);
    font-weight: 800;
}

.menu_cadastro {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
        max-width: 768px
    }

    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background: var(--color-deepNavyBlue);
        height: 100%;
        width: 35vw;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    .btn_icon_header {
        display: block;
    }

    .menu_cadastro {
        flex-direction: column;
        gap: 30px;
    }

    .image_top {
        width: 100%;
    }

    .content {
        margin-left: -2.5em;
    }

    .image_top {
        flex-direction: row;
        text-align: left;
    }

    .image_top h3 {
        text-align: left;
        padding-left: 35px;
    }

    .image_top p {
        text-align: left;
        padding-left: 35px;
    }

}

@keyframes showSidebar {
    from {
        margin-left: -100vw;
    }

    to {
        margin-left: -10vw;
    }
}

.image_top {
    background: url('../img/pexels.jpg') no-repeat center center;
    /*background-size: cover; */
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-size: 200% 200%;
    animation: gradientAnimation 80s ease infinite;
}

.image_top h3 {
    text-align: center;
    margin-left: 2rem;
    flex-wrap: wrap;
    margin-bottom: 10px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    animation: glitch 3s infinite;
    background: linear-gradient(135deg, #00ffea, #0081ff);
}

.image_top p {
    line-height: 1.5;
    text-align: center;
    flex-wrap: wrap;
    color: #fff;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
    margin-left: 2rem;
}

@keyframes glitch {
    0% {
        transform: translate(0);
        opacity: 1;
    }

    20% {
        transform: translate(-2px, 2px);
        opacity: 0.8;
    }

    40% {
        transform: translate(-2px, -2px);
        opacity: 0.8;
    }

    60% {
        transform: translate(2px, 2px);
        opacity: 0.8;
    }

    80% {
        transform: translate(2px, -2px);
        opacity: 0.8;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 30%;
    }

    50% {
        background-position: 70% 30%;
    }

    100% {
        background-position: 0% 30%;
    }
}



/* css cadastro */

#container-body-cadastro {
    height: 100vh;
    width: 100%;
}

.img-cadastro {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img-cadastro img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.img-cadastro img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.form-cadastro {
    flex: 1.2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 110vh;
}

.title {
    text-align: center;
    margin-top: 10px;
    color: var(--color-deepNavyBlue);
    margin-bottom: 10px;
}

.title__login {
    text-align: center;
    margin-top: 10px;
    color: var(--color-deepNavyBlue);
    margin-bottom: 30px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.container-cadastro {
    display: flex;
}

.social__media__login {
    margin-bottom: 30px;
}

.list-social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.list-social-media li {
    margin-right: 10px;
    font-size: 32px;
    margin-bottom: 10px;
}

.item-social-media a {
    color: var(--color-darkGrey);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
}

.item-social-media a:hover {
    background-color: var(--color-mossGreen);
}

.input-caixa {
    list-style-type: none;
    justify-content: center;
}

.inputs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input-caixa {
    margin-bottom: 20px;
}

.input-caixa label {
    display: block;
    font-size: 14px;
    color: var(--color-dark2);

}

.input-caixa input[type="text"],
.input-caixa input[type="email"],
.input-caixa input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    color: var(--color-dark3);
    margin-top: 8px;
}

.input-caixa input[type="text"]:focus,
.input-caixa input[type="email"]:focus,
.input-caixa input[type="password"]:focus {
    outline: none;
    border-color: var(--color-dark2);
}

.registrar {
    text-align: center;
}

.registrar button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registrar button:hover {
    background-color: var(--color-deepNavyBlue);
}

.login-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.login-button p {
    margin-right: 10px;
    color: var(--color-deepNavyBlue);
}

.login-button button a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-blue);
}

.login-button button {
    border: none;
    cursor: pointer;
}

.navegar-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.img_logo_register {
    height: 10vh;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.img_logo_register:hover {
    transform: scale(1.1);

}

.img_logo_login {
    height: 10vh;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 25px;
}

.img_logo_login:hover {
    transform: scale(1.1);
  }


.erroSenha {
    color: var(--color-error);
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .container-cadastro {
        display: block;
    }

    .form-cadastro {
        height: 110vh;
    }

}

@media screen and (width: 414px) and (height: 896px) {
    .form-cadastro {
        height: 90vh;
    }
}

@media screen and (width: 390px) and (height: 844px) {
    .form-cadastro {
        height: 90vh;
    }
}

@media screen and (width: 393px) and (height: 851px) {
    .form-cadastro {
        height: 90vh;
    }
}

@media screen and (width: 412px) and (height: 915px) {
    .form-cadastro {
        height: 90vh;
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 912px) and (height: 1368px) {
    .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 280px) and (height: 653px) {
    .form-cadastro {
        height: 130vh;
    }

    .erroSenha {
        font-size: 13px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (width: 412px) and (height: 914px) {
    .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .form-cadastro {
        height: 130vh;
    }
}

.padding {
    padding: 10px;
}

/* icone usuario logado */

.user-icon {
    display: none;
    background-color: var(--color-dark3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.user-icon:hover {
    background-color: var(--color-mossGreen);
    transition: background-color 0.3s;
    cursor: pointer;
}

.user-icon i {
    color: var(--color-burntOrange);
    text-align: center;
    margin-top: 10px;
}


.user-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: var(--color-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999;
    margin-top: 55px;
    margin-right: 135px;
}

.user-modal.open {
    display: block;
    opacity: 1;
    transform: translateY(0%);
}

.AlocarLetra {
    margin-top: 10px;
    pointer-events: none;
}

.letra {
    margin-left: -2px;
    pointer-events: none;
    /* A letra não responderá a eventos de clique */
}

.modal-content-perfil {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.perfilUser {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }

  
  .perfilUser:hover {
    background-color: #ff5500;
  }
  
  /* .sairUser {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sairUser:hover {
    color: #ff6600;
  } */
  


/* css contato */

#container_contact {
    background-color: var(--color-white);
}

.col-md {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text_title {
    color: var(--color-deepNavyBlue);
    font-weight: 400;
    margin-left: 30px;
    font-size: 4rem;
    margin-top: 70px;
}

.pr_title {
    color: var(--color-deepNavyBlue);
    font-weight: 500;
    margin-left: 30px;
    margin-top: 70px;
    font-size: 1.1rem;
}

.contact {
    width: 100%;
    max-width: 900px;
    justify-content: flex-start;
    margin-left: 30px;
    padding: 20px;
}

.form-contact {
    margin-bottom: 20px;
}

.inputs-contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input-caixa-contact {
    margin-bottom: 20px;
}

.input-caixa-contact label {
    color: var(--color-deepNavyBlue);
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-caixa-contact input,
.input-caixa-contact textarea,
.input-caixa-contact select {
    width: 65vw;
    padding: 10px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    height: 40px;
}

.input-caixa-contact textarea {
    resize: vertical;
    min-height: 150px;
}

.input-caixa-contact p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    color: var(--color-deepNavyBlue);
}

.enviar_contact {
    padding: 0 0 50px;
}

.enviar_contact button {
    padding: 10px 20px;
    background-color: var(--color-deepNavyBlue);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.enviar_contact button:hover {
    background-color: var(--color-deepNavyBlueCl);
}

@media screen and (max-width: 768px) {
    .text_title {
        font-size: 2rem;
        margin-top: 40px;
        margin-left: 5px;
    }

    .pr_title {
        font-size: 1rem;
        margin-top: 40px;
        margin-left: 0;
    }

    .contact {
        margin-left: 0;
        padding: 10px;
    }

    .input-caixa-contact input,
    .input-caixa-contact textarea,
    .input-caixa-contact select {
        width: 100%;
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    .pr_title {
        font-size: 1rem;
        margin-top: 40px;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .text_title {
        margin-top: 40px;
        margin-left: 0;
    }

    .contact {
        margin-left: 0;
        padding: 10px;
    }


    .input-caixa-contact input,
    .input-caixa-contact textarea,
    .input-caixa-contact select {
        width: 85%;
    }
}

@media screen and (width: 912px) and (height: 1368px) {
    .pr_title {
        font-size: 1rem;
        margin-top: 40px;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .text_title {
        margin-top: 40px;
        margin-left: 0;
    }

    .contact {
        margin-left: 0;
        padding: 10px;
    }


    .input-caixa-contact input,
    .input-caixa-contact textarea,
    .input-caixa-contact select {
        width: 85%;
    }
}

/* css sobre */

/* #container_about {
    background-color: var(--color-white);
} */

.container-fluid {
    position: relative;
    padding-top: 300px;
    background-image: url(../img/sobreImage.jpg);
    background-size: cover;
    background-position: center;
}

.hero__container {
    position: absolute;
    bottom: -50px;
    height: 180px;
    left: 40px;
    right: 71%;
    background-color: var(--color-deepNavyBlueCl);
    padding: 30px;
    box-sizing: border-box;
}

.hero__title {
    color: var(--color-white);
    font-weight: 400;
    font-size: 5.5rem;
    margin: 0;
    margin-top: 10px;
    margin-left: 25px;
}

.container__body {
    padding: 50px 50px;
    margin-top: 50px;
    background-color: var(--color-darkGrey);
}

.container__body h2 {
    color: var(--color-white);
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 20px;
}

.container__body p {
    color: var(--color-white);
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container__body {
        padding: 50px 14px;
    }
    
    .hero__container {
        right: 0;
        left: 0;
    }
    .hero__title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 1266px) {
    .hero__container {
        left: 0;
        right: 0;
    }
}