.content__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .content__user .profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }


  /* .height__main {
    height: 80vh;
  } */
  
  .content__user .profile-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-info); 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: var(--color-black);
  }
  
  .content__user .profile-details {
    display: flex;
    flex-direction: column;
  }
  
  .content__user .profile-name {
    margin: 0;
    font-size: 24px;
  }
  
  .content__user .profile-email {
    margin: 0;
    font-size: 16px;
    color: var(--color-textGrey); 
  }
  
  .content__user .books-section {
    width: 70%;
  }

  .content__user .books-section .section-heading {
    margin: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content__user .books-section .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .book-item {
    background-color: var(--color-white-background);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px var( --color-rgb-one);
    margin: auto;
  }
  
  .book-item img {
    width: 20vh;
    height: auto;
    margin-bottom: 10px;
  }
  
  .book-item h3 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--color-black);
  }
  
  .book-item p {
    margin: 0;
    font-size: 14px;
    color: var(--color-textGrey); 
  }
  

/* css minhas perguntas */

.container_mp {
  flex: 1;
  margin-bottom: 20px;
  padding: 0.5rem;
}



.container_mp .profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}


/* .height__main {
  height: 80vh;
} */

.container_mp .profile-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-info); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--color-black);
}

.container_mp .profile-details {
  display: flex;
  flex-direction: column;
}

.container_mp .profile-name {
  margin: 0;
  font-size: 24px;
}

.container_mp .profile-email {
  margin: 0;
  font-size: 16px;
  color: var(--color-textGrey); 
}

.container_mp .content-container .section-heading {
  margin: 0;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}


.container_mp  .pergunta {
  background-color: var(--color-white-background-two);
  border: none;
  border-top: 1px solid #0e0c0c65;
  padding: 10px;
}

.container_mp  .pergunta h3 {
  color: var(--color-black);
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.container_mp .pergunta p {
  color: var(--color-black);
}

.container_mp .pergunta i {
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.container_mp  .pergunta i:hover {
  background-color: #00000044;
}

.container_mp .content-container {
  flex: 1;
}

.container_mp .center_profile {
  justify-content: center;
}