.container_home .cards{
    padding-top: 4em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 100px;
    position: relative;
    height: min-content;
    max-width: 78%;
    margin: 0 auto;
    padding: 4em;
}
.container_home .card{
    position: relative;
    overflow: hidden;
    height: 330px;
    cursor: pointer;
    width: 220px;
    box-shadow: 0px 0px 0px 0px #FFFFFF11;
    transition: 0.2s;
    width: 100%;
    height: 100%;
    border-radius: 1em;
}
.container_home .card h4{
    font-size: 85%;
    padding: .5em;
}

.container_home .card * {
    transition: .25s;
}

.container_home .cards:hover :not(:hover){
    opacity: 0.9;
}

.container_home .card img:hover{
    scale: 1.1;
}

.container_home .card-body{
    text-align: center;
}

.container_home .card:hover{
    box-shadow: 0px 0px 0px 10px #fafafa85, 0px 0px 0px 1px #3fabe9aa;
    z-index: 1;
    transition: 0.2s;
    padding: 10px;
    padding-top: 15px;
}

.container_home .card:hover .card-image{
    translate: 0px -20px;
}

.container_home .card:hover .card-body{
    opacity: 1;
    transform: translateY(0px);
}
@media screen and (max-width: 768px) {
    #cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        gap: 150px 90px; 

        
        
    }
    #card-image img{
        width: 7rem;
        height: 11rem;
    }
    .container_home .card h4{
        font-size: 15px;
        padding: .5em;
    }
}

@media screen and (max-width: 1102px) {
    .container_home .cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (width: 280px) and (height: 653px) {
    #cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        gap: 150px 90px; 
    
    }
}