.container_forum {
    flex: 1;
    /* background-color: #ecf6fc; */
    /* padding: 10px; */
}

.container_forum .header_forum {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.container_forum .header-title {
    color: #f2f2f2;
    font-size: 24px;
    font-weight: bold;
}

.container_forum .content-container {
    flex: 1;
    /* padding: 11px; */
    /* background-color: #ecf6fc; */
}

.container_forum .content-button {
    text-align: center;
}

.container_forum .button {
    margin-bottom: 16px;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container_forum .button:hover {
    background-color: #2a5481;
}

.container_forum .pergunta {
    background-color: #ecf6fc;
    border: none;
    border-top: 1px solid #0e0c0c65;
    padding: 10px;
}

.container_forum .title-forum {
    font-size: 26px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.container_forum .question-forum {
    color: #000000;
    font-weight: 100;
    margin-left: 10px;
}

.container_forum .pergunta i {
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
}

.container_forum .icon-comment {
    color: #000000;
    margin-top: 5px;
}



/* css modal criar pergunta */

.container_forum .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.container_forum .modal-content {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container_forum .modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #666666;
}

.container_forum .input {
    background-color: #f2f2f2;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 18px;
    color: #000;
}

.container_forum .input-multiline {
    height: 150px;
}

.container_forum .modal-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container_forum .modal-button {
    background-color: #007bff;
    margin-bottom: 8px;
    width: 60%;
    margin-left: 27px;
    height: 40px;
}

.container_forum .modal-button-cancel {
    background-color: #666666;
    width: 60%;
    margin-right: 15px;
}

.container_forum .no_questions {
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}


/* css modal responder e ver respostas */


.container_forum .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.container_forum .modal-content-answer {
    flex: 1;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 40px 0px;
    border: 1px solid #888;
    width: 80%;
    max-height: 70%;
    color: black;
    overflow-y: auto;
}

.container_forum .modal-content-answer i {
    margin-left: 10px;
    cursor: pointer;
}

.container_forum .modal-send-button {
    color: black;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: end;
    text-align: end;
    justify-content: end;
    margin-left: 15px;
    cursor: pointer;
}

.container_forum .resposta {
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    margin-top: 10px;
    margin: 10px;
}


.container_forum .modal-close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 25px;
    margin-top: -15px;
}

.container_forum .modal-close:hover {
    color: #000;
}

.container_forum .modal-input {
    margin-bottom: 20px;
    margin-top: -25px;
    padding: 10px;
    width: 85%;
    height: 35%;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 12%;
    margin-right: auto;
    display: block;

}

.container_forum .title-modal-answer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -15px;
}

.container_forum .question-modal-answer {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1131px) {
    .container_forum .modal-send-button {
        margin-bottom: 35px;
    }
}


/* css modal reportar */


.container_forum .modal-reportar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.container_forum .report-container {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.container_forum .title-report {
    margin-bottom: 20px;
}

.container_forum .title-report h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.container_forum ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container_forum li {
    margin-bottom: 10px;
}

.container_forum input[type="radio"] {
    margin-right: 10px;
}

.container_forum label {
    font-size: 16px;
    color: #000000;
}

.container_forum input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container_forum input[type="submit"]:hover {
    background-color: #0069d9;
}

.container_forum .modal-close {
    font-size: 20px;
    color: #020101;
    cursor: pointer;
}

.container_forum .modal-close:hover {
    color: #555;
}