@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;700&display=swap');


#modal {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999;
    overflow: auto;
    text-align: center;
}   
  
.container_home .modal-content {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.container_home .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_home .modal-header h2 {
    margin: 0;
    color: #000000;
    margin-left: 150px;
    margin: 20px auto;
}
  
.container_home .add-button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -10px;
  }
  
.container_home .add-button:hover {
    background-color: #990000;
  }


.container_home .close {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    margin-top: -60px;
}
  
.container_home .modal-body img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
.container_home .modal-body p {
    margin-bottom: 10px;
    color: #000000;
    /* text-align: justify; */
}

.container_home .modal-content input[type="text"] {
    width: 85%;
    height: 30px;
    resize: none;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container_home .modal-content {
        width: 85%;
    }
}

#results .local__venda {
    text-align: center;
    font-weight: bold;
}

#results .local__venda a {
    color: #ff0000;
    font-size: 12px;
}

#searchButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #000099;
}
