/* css cadastro */

.campo-vazio {
    border: 1px solid var(--color-error);
}

#container-body-cadastro {
    height: 100vh;
    width: 100%;
}

.container-cadastro {
    display: flex;
}

.container-cadastro .img-cadastro {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-cadastro .img-cadastro img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-cadastro .img-cadastro img {
    height: 100%;
    width: auto;
    max-width: 100%;
}

.container-cadastro .height_cadastro {
    height: 125vh;
}

.container-cadastro .form-cadastro {
    flex: 1.2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.container-cadastro .title {
    text-align: center;
    margin-top: 10px;
    color: var(--color-deepNavyBlue);
    margin-bottom: 10px;
}

.container-cadastro fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.container-cadastro .list-social-media {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.container-cadastro .list-social-media li {
    margin-right: 10px;
    font-size: 32px;
    margin-bottom: 10px;
}

.container-cadastro .item-social-media a {
    color: var(--color-darkGrey);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
}

.container-cadastro .item-social-media a:hover {
    background-color: var(--color-mossGreen);
}

.container-cadastro .input-caixa {
    list-style-type: none;
    justify-content: center;
}

.container-cadastro .inputs {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container-cadastro .input-caixa {
    margin-bottom: 20px;
}

.container-cadastro .input-caixa label {
    display: block;
    font-size: 14px;
    color: var(--color-dark2);

}

.container-cadastro .input-caixa input[type="text"],
.container-cadastro .input-caixa input[type="email"],
.container-cadastro .input-caixa input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 14px;
    color: var(--color-dark3);
    margin-top: 8px;
}

.container-cadastro .input-caixa input[type="text"]:focus,
.container-cadastro .input-caixa input[type="email"]:focus,
.container-cadastro .input-caixa input[type="password"]:focus {
    outline: none;
    border-color: var(--color-dark2);
}

.container-cadastro .info {
    font-size: 13px;
    line-height: 16px;
    color: var(--color-info);
    margin-bottom: 10px;
    display: none;
}

.container-cadastro .registrar {
    text-align: center;
}

.container-cadastro .registrar button {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container-cadastro .registrar button:hover {
    background-color: var(--color-deepNavyBlue);
}

.container-cadastro .login-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.container-cadastro .login-button p {
    margin-right: 10px;
    color: var(--color-deepNavyBlue);
}

.container-cadastro .login-button button a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-blue);
}

.container-cadastro .login-button button {
    border: none;
    cursor: pointer;
}

.container-cadastro .navegar-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.container-cadastro .img_logo_register {
    height: 10vh;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}

.container-cadastro .img_logo_register:hover {
    transform: scale(1.1);

}

.erroSenha {
    color: var(--color-error);
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    .container-cadastro {
        display: block;
    }

    .container-cadastro .form-cadastro {
        height: 120vh;
    }
}

@media screen and (width: 414px) and (height: 896px) {
    .container-cadastro .form-cadastro {
        height: 95vh;
    }

}

@media screen and (width: 390px) and (height: 844px) {
    .container-cadastro .form-cadastro {
        height: 105vh;
    }
}

@media screen and (width: 393px) and (height: 851px) {
    .container-cadastro .form-cadastro {
        height: 105vh;
    }
}

@media screen and (width: 412px) and (height: 915px) {
    .container-cadastro .form-cadastro {
        height: 105vh;
    }
}

@media screen and (width: 820px) and (height: 1180px) {
    .container-cadastro .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 768px) and (height: 1024px) {
    .container-cadastro .form-cadastro {
        height: 95vh;
    }
}

@media screen and (width: 912px) and (height: 1368px) {
    .container-cadastro .form-cadastro {
        height: 80vh;
    }
}

@media screen and (width: 280px) and (height: 653px) {
    .container-cadastro .form-cadastro {
        height: 135vh;
    }

    .erroSenha {
        font-size: 13px;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (width: 412px) and (height: 914px) {
    .container-cadastro .form-cadastro {
        height: 100vh;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    .container-cadastro .form-cadastro {
        height: 140vh;
    }
}
